<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.modificator.launcher">
    <application>
       <!-- <activity
            android:name=".Launcher"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>-->
        <activity
            android:name=".Launcher"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="com.yotadevices.intent.category.EPD_HOME" />
            </intent-filter>
            <meta-data android:name="com.yotadevices.keep_on_epd_screen" android:value="true"/>
        </activity>

    </application>

</manifest>